:root {
  --colors-selected: #00AB59;
}

a {
  color: inherit;
  text-decoration: none;
}

.tldraw {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}

.p-md {
  padding: 12px;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.absolute {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
}

.c-yILjc,
#TD-Tools-Dots {
  display: none;
}

.c-QTiTL.c-QTiTL-jvfJsl-side-right {
  position: fixed;
  left: 0;
  bottom: 0;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 0px;
}

.c-hSIOJC {
  font-family: 'Noto Sans KR', sans-serif;
}